[package]
edition.workspace = true
license.workspace = true
name = "ceno_emul"
version.workspace = true

[dependencies]
anyhow = { version = "1.0", default-features = false }
elf = { version = "0.7.4" }
strum = { workspace = true }
strum_macros = { workspace = true }
tracing = { version = "0.1", default-features = false, features = [
  "attributes",
] }

[dev-dependencies]
ceno-examples = { path = "../examples-builder" }
