[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[tasks.tests]
args = [
  "test",
  # Run everything but 'benches'.
  "--lib",
  "--bins",
  "--tests",
  "--examples",
  "--workspace",
  "--",
  "--nocapture",
]
command = "cargo"
env = { RUST_MIN_STACK = "33554432" }
workspace = false

[tasks.tests_goldilock]
args = [
  "test",
  # Run everything but 'benches'.
  "--lib",
  "--bins",
  "--tests",
  "--examples",
  "--workspace",
  "--no-default-features",
  "--features",
  "goldilocks",
  "--",
  "--nocapture",
]
command = "cargo"
env = { RUST_MIN_STACK = "33554432" }
workspace = false


[tasks.riscv_stats]
args = ["run", "--bin", "riscv_stats"]
command = "cargo"
workspace = false

[tasks.clippy]
args = [
  "clippy",
  "--workspace",
  "--all-targets",
  "--",
  "-D",
  "warnings",
]
command = "cargo"
workspace = false

[tasks.cli]
args = [
  "install",
  "--features",
  "jemalloc",
  "--features",
  "nightly-features",
  "--path",
  "./ceno_cli",
]
command = "cargo"
env = { "JEMALLOC_SYS_WITH_MALLOC_CONF" = "retain:true,metadata_thp:always,thp:always,dirty_decay_ms:-1,muzzy_decay_ms:-1,abort_conf:true" }
workspace = false
