[package]
categories = ["cryptography", "zk", "blockchain", "pcs"]
description = "Multilinear Polynomial Commitment Scheme"
edition = "2021"
keywords = ["cryptography", "zk", "blockchain", "pcs"]
license = "MIT OR Apache-2.0"
name = "whir"
readme = "README.md"
repository = "https://github.com/WizardOfMenlo/whir/"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
default-run = "main"

[dependencies]
bincode = "1.3.3"
blake2 = "0.10"
blake3 = "1.5.0"
clap = { version = "4.4.17", features = ["derive"] }
derivative = { version = "2", features = ["use_core"] }
ff_ext = { path = "../ff_ext" }
lazy_static = "1.4"
multilinear_extensions = { path = "../multilinear_extensions" }
p3 = { path = "../p3" }
poseidon = { path = "../poseidon" }
rand = "0.8"
rand_chacha = "0.3"
rayon = { workspace = true, optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha3 = "0.10"
sumcheck = { path = "../sumcheck" }
tracing.workspace = true
transcript = { path = "../transcript" }
transpose = "0.2.3"
witness = { path = "../witness" }

derive_more = { version = "1.0.0", features = ["debug"] }
goldilocks = { git = "https://github.com/scroll-tech/ceno-Goldilocks" }
itertools = "0.14.0"
thiserror = "1"

[profile.release]
debug = true

[features]
asm = []
default = ["parallel"]
parallel = [
  "dep:rayon",
]
print-trace = [ "tracing/log" ]
rayon = ["dep:rayon"]
