[package]
categories.workspace = true
description = "Transcript generation for Ceno"
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "transcript"
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
crossbeam-channel.workspace = true
ff_ext = { path = "../ff_ext" }
itertools.workspace = true
p3-challenger.workspace = true
p3-field.workspace = true
p3-goldilocks.workspace = true
p3-mds.workspace = true
p3-symmetric.workspace = true
poseidon.workspace = true
serde.workspace = true

[features]
default = []
ro_query_stats = ["poseidon/ro_query_stats"]
