[package]
name = "sumcheck"
version.workspace = true
edition.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ark-ff = "0.4.0"
ark-std.workspace = true
ff.workspace = true
rayon.workspace = true
serde.workspace = true


goldilocks = { path = "../goldilocks" }
multilinear_extensions = { path = "../multilinear_extensions" }
transcript = { path = "../transcript" }
