[package]
categories.workspace = true
description = "GKR IOP protocol implementation"
edition.workspace = true
keywords.workspace = true
license.workspace = true
name = "gkr_iop"
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
ark-std = { version = "0.5" }
ff_ext = { path = "../ff_ext" }
itertools.workspace = true
multilinear_extensions = { version = "0.1.0", path = "../multilinear_extensions" }
ndarray.workspace = true
p3-field.workspace = true
p3-goldilocks.workspace = true
rand.workspace = true
rayon.workspace = true
serde.workspace = true
subprotocols = { path = "../subprotocols" }
thiserror = "1"
tiny-keccak.workspace = true
transcript = { path = "../transcript" }
witness = { path = "../witness" }

[dev-dependencies]
criterion.workspace = true

[[bench]]
harness = false
name = "bitwise_keccakf"

[[bench]]
harness = false
name = "lookup_keccakf"
