name: Tests

on:
  merge_group:
  pull_request:
    types: [ synchronize, opened, reopened, ready_for_review ]
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  tests:
    name: Run Tests
    timeout-minutes: 60
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          targets: riscv32im-unknown-none-elf
          # TODO: figure out way to keep this in sync with rust-toolchain.toml automatically
          toolchain: nightly-2025-08-18
      - name: Cargo cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
            ceno_rt/target/
            examples/target/
          key: tests-${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: tests-${{ runner.os }}-cargo-

      - name: Install m4
        run: sudo apt-get install -y m4

      - name: Install cargo make
        run: |
          cargo make --version || cargo install cargo-make
      - name: run test
        run: cargo make tests
      - name: run test + goldilocks
        run: cargo make tests_goldilock

      - name: Run aggregation tests
        run:
          cargo run --release --package ceno_zkvm --bin e2e -- \
            --platform=ceno --min-cycle-per-shard=10 --max-cycle-per-shard=1600 \
            examples/target/riscv32im-ceno-zkvm-elf/release/examples/keccak_syscall
          mkdir -p ceno_recursion/src/imported
          mv proof.bin ceno_recursion/src/imported/
          mv vk.bin ceno_recursion/src/imported/
          cargo test --release --package ceno_recursion --tests -- --ignored
